@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
nav{
  background-color: rgb(21, 39, 202);
  color: burlywood;
  height: 46px;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  font-family: 'Ubuntu', sans-serif;
}
nav ul{
  list-style-type: none;
}

.game{
   background-color: rgb(255, 238, 0);
   display:flex;
   height: 45vw;
   justify-content: center;
   margin-top: 0px;
}

.grid{
   display: grid;
   grid-template-rows: repeat(3,10vw);
   grid-template-columns: repeat(3,10vw);
   margin: 5vw 7vw;
   display: None;
}

.box{
  border: 2px solid black;
  font-size: 8vw;
  cursor:pointer;
  display: flex;
 justify-content: center;
 align-items: center; 
}

.box:hover{
  background-color: rgb(204, 198, 113);
}
.gameinfo{
  margin: 15vw 0;
}
.gameinfo h1{
  font-size: 2rem;
  margin: 0px 3px;
}
.imgbox img{
  display:none;
}
.info{
  display:None;
}
.br-0{
  border-right: 0;
}
.bl-0{
  border-left: 0;
}
.bu-0{
  border-top: 0;
}
.bd-0{
  border-bottom: 0;
}

.info{
  font-size: 23px;
  margin: 7px;
  padding:30px;
}
#reset{
  margin: 40px -10px;
  padding: 0px 20px;
  border-radius: 5px;
  background: #ed8b8b;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.mycol{
  background-color: rgb(25, 0, 255);
}

.prestart1{
  display:block;
}
.prestartcomp{
  display:none;
}
.choicecomp
{
  display:none;
}
.choice2p
{
  display:none;
}